*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background: rgba(229, 229, 229);
}
 .hero,  main{
    width: 1128px;
    margin: 0 auto;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
}

                       /* Shared Style */

.display-flex{
display: flex;
}                       
.macro-title{
color: rgba(51, 51, 51, 1);
font-family: Poppins;
font-size:3rem;
font-weight: 700;
}   
.micro-title{
color: rgba(51, 51, 51, 1);
font-family: Poppins;
font-size: 2.25rem;
font-weight: 700;
}   
.subtitle{
color: rgba(0, 0, 0, 1);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 600;
}  
.macro-description{
color: rgba(62, 62, 62, 1);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
}   
.micro-description{
color: rgba(66, 66, 66, 1);
font-family: Poppins;
font-size: 1rem;
font-weight: 400;
}            
.btn{
color: rgba(255, 255, 255, 1);
font-family: Poppins;
font-size: 1rem;
font-weight: 500;
border-radius: 5px;
padding: 12px 36px;
background: rgba(255, 89, 89, 1);
border: 0;
}
.orange-title{
    color: rgba(255, 173, 90, 1);
}

                            /* header's Styles  */

header{
    width: 100%;
    margin-bottom: 80px;
}
.hero{
  gap: 130px;  
  align-items: center;  
}
.hero-img-container{
    width: 426px;
    height: 543px;
}
.hero-text{
    width: 503px;
}
.hero-title{
font-family: Yeseva One;
font-size: 3.75rem;
font-weight: 400;
margin-bottom: 15px;
}
.hero-description{
color: rgba(62, 62, 62, 1);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
margin-bottom: 20px;
}
.hero-btn{
margin-bottom: 33px;
}
.hero-img-container img{
    width: 100%;
}

                       /* My Mission Section */

.my-mission{
width: 100%;
margin-bottom: 100px;
}
.my-mission-title{
margin-bottom: 48px;
text-align: center;
}
.my-mission-cards{
gap: 24px;
margin-bottom: 86px;
}
.my-mission-card{
width: 360px;
height: 376px;
border-radius: 26px;
padding: 25px 13px 0 32px;
}
#mission{
background: rgba(79, 157, 166, 0.1);
}
#vission{
background: rgba(255, 89, 89, 0.1);
}
#goals{
background: rgba(255, 244, 214, 1);
}
.my-mission-card img{
    width: 141px;
    height: 141px;
}
#mission img{
    width: 126px;
    height: 126px;
}
.my-mission-card-title{
margin-bottom: 16px;
}
.mission{
    align-items: center;
}
.develop{
    gap: 72px;
    margin-bottom: 106px;
}
.know{
    flex-direction: row-reverse;
    gap: 106px;
}
.mission-img img{
    width: 400px;
    height: 400px;
}
.mission-title, .mission-description{
margin-bottom: 18px;
}

               /* My Mission Background Shapes */

.bg-shape{
    width: 150px;
    height: 150px;
}
.bg-dsgn{
    width: 110px;
    height:150px;
    position: relative;
}
.my-mission{
    position: relative;
    z-index: 1;
}
.bg1-img{
    position: relative;
    top: -930px;
    left: -70px;
}
.bg3-img{
top: -1150px;
right: -1020px;
}
.bg4-img{
    top: -650px;
    left: -420px;
}
.bg2-img{
    position: relative;
    top: -200px;
    right: -660px;
}


                                /* Build Corona App */


.build-app{
    width: 100%;
    margin-top: -150px;
    margin-bottom: 80px;
}
.build-app-title{
    text-align: center;
    margin-bottom: 85px;
}
.build-app-content{
    margin-left:100px ;
    gap: 163px;
    align-items: center;
}
.build-app-img{
    width: 338px;
    height: 542px;
}
.app{
    width: 230px;
    height: 472px;
    margin: 40px 0 0 58px;
    z-index: 1;
}
.s1{
    width: 147px;
    height: 147px;
}
.s2{
    width: 77px;
    height: 77px;
}
.s1, .s2, .app{
    position: relative;
}
.p1{
top:-500px ;
left: 15px;
}
.p2{
    top: -250px;
    right: -68px;
}
.p3{
    top: -150px;
    left: -180px;
}
.build-app-text{
    width: 525px;
}
.build-app-subtitle, .build-app-description{
    margin-bottom: 16px;
}



footer{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    background: black;
}
.footer-title{
color:rgba(255, 255, 255, 1);
font-family: Lobster;
font-size: 36px;
font-weight: 400;
}
.footer-description{
color:rgba(255, 255, 255, 1);
font-family: Manrope;
font-size: 14px;
font-weight: 400;
}

