*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}
 .hero,  main{
    width: 1128px;
    margin: 0 auto;
}
.wrapper{
    width: 1440px;
    margin: 0 auto;
}

                       /* Shared Style */

.display-flex{
display: flex;
}                       
.macro-title{
color: rgba(51, 51, 51, 1);
font-family: Poppins;
font-size:3rem;
font-weight: 700;
}   
.micro-title{
color: rgba(51, 51, 51, 1);
font-family: Poppins;
font-size: 2.25rem;
font-weight: 700;
}   
.subtitle{
color: rgba(0, 0, 0, 1);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 600;
}  
.macro-description{
color: rgba(62, 62, 62, 1);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
}   
.micro-description{
color: rgba(66, 66, 66, 1);
font-family: Poppins;
font-size: 1rem;
font-weight: 400;
}            
.btn{
color: rgba(255, 255, 255, 1);
font-family: Poppins;
font-size: 1rem;
font-weight: 500;
border-radius: 5px;
padding: 12px 36px;
background: rgba(255, 89, 89, 1);
border: 0;
}
.orange-title{
    color: rgba(255, 173, 90, 1);
}

                            /* header's Styles  */

header{
    width: 100%;
    margin-bottom: 80px;
}
.hero{
  gap: 130px;  
  align-items: center;  
}
.hero-img-container{
    width: 426px;
    height: 543px;
}
.hero-text{
    width: 503px;
}
.hero-title{
font-family: Yeseva One;
font-size: 3.75rem;
font-weight: 400;
margin-bottom: 15px;
}
.hero-description{
color: rgba(62, 62, 62, 1);
font-family: Poppins;
font-size: 1.125rem;
font-weight: 400;
margin-bottom: 20px;
}
.hero-btn{
margin-bottom: 33px;
}
.hero-img-container img{
    width: 100%;
}



.my-mission{
width: 100%;
}
.my-mission-title{
margin-bottom: 48px;
text-align: center;
}
.my-mission-cards{
gap: 24px;
margin-bottom: 86px;
}
.my-mission-card{
width: 360px;
height: 376px;
border-radius: 26px;
padding: 25px 13px 0 32px;
}
#mission{
background: rgba(79, 157, 166, 0.1);
}
#vission{
background: rgba(255, 89, 89, 0.1);
}
#goals{
background: rgba(255, 244, 214, 1);
}
.my-mission-card img{
    width: 141px;
    height: 141px;
}
#mission img{
    width: 126px;
    height: 126px;
}
.my-mission-card-title{
margin-bottom: 16px;
}
.mission{
    align-items: center;
}
.develop{
    gap: 72px;
    margin-bottom: 106px;
}
.know{
    flex-direction: row-reverse;
    gap: 106px;
}
.mission-img img{
    width: 400px;
    height: 400px;
}
.mission-title, .mission-description{
margin-bottom: 18px;
}
